# Description
**Country Clusters**

In [2]:
# The code was removed by Watson Studio for sharing.

,sector,size,country,EW1,EW2,EW3,EW4,PMS1,PMS2,PMS3,...,DEP,INN1,INN2,INN3,Dig1,Dig2,Dig3,Dig4,Dig6,Dig5
0,1,1,Belgium,1,2,3,2,3,1,2,...,3.50,3,3,3,2,1.0,2.0,1,2.0,1
1,1,1,Belgium,1,2,3,1,2,1,3,...,1.82,3,2,3,3,1.0,2.0,2,NaN,2
2,1,1,Belgium,1,2,3,2,3,1,2,...,2.91,3,3,3,1,NaN,NaN,2,NaN,2
3,1,1,Belgium,1,2,2,2,1,3,2,...,1.82,3,3,3,3,1.0,2.0,2,NaN,2
4,1,1,Belgium,2,2,3,2,2,1,3,...,3.31,3,3,3,3,1.0,2.0,1,2.0,2